BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_OAUTH_ENABLED=true
APP_URL=http://localhost:3000
NEXT_PUBLIC_UMAMI_WEBSITE_ID="your-website-id-uuid"
