DATABASE_URL="postgresql://username:password@host:port/db?sslmode=require&channel_binding=require&connect_timeout=15&pool_timeout=15"
PORT=3001
NODE_ENV=development
SESSION_SECRET=your_session_secret
FRONTEND_URL=http://localhost:3000
NITTER_URL=
REDIS_URL=redis://localhost:6379
DODO_API_KEY=your_dodo_api_key
DODO_ENVIRONMENT=test_mode
DODO_WEBHOOK_SECRET=your_dodo_webhook_secret
DODO_PRO_PRODUCT_ID=your_dodo_pro_product_id
DODO_PREMIUM_PRODUCT_ID=your_dodo_premium_product_id
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USERNAME=nashediCHowkidar

GOOGLE_GENERATIVE_AI_API_KEY=your_google_api_key
RESEND_API_KEY=your_resend_api_key
DISCORD_WEBHOOK_URL=your_discord_webhook_url
DISCORD_PAYMENT_WEBHOOK_URL=your_discord_payment_webhook_url

NODE_ENV=development